@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.min.css"
        rel="stylesheet"
    />
    <style>
        /* Tùy chỉnh CSS cho dropdown nếu cần */
        .header-v4 .wrap-icon-header .dropdown-menu {
            /* Ví dụ: Căn phải dropdown so với icon */
            right: 0;
            left: auto;
            margin-top: 10px; /* Điều chỉnh khoảng cách với icon */
            min-width: 250px; /* Độ rộng tối thiểu cho dropdown */
        }

        .header-v4 .wrap-icon-header .dropdown-user .user-box {
            padding: 15px;
        }

        .header-v4 .wrap-icon-header .dropdown-user .avatar-lg {
            float: left;
            width: 50px; /* Kích thước avatar */
            height: 50px;
            margin-right: 10px;
        }

        .header-v4 .wrap-icon-header .dropdown-user .avatar-lg img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .header-v4 .wrap-icon-header .dropdown-user .u-text h4 {
            margin-bottom: 2px;
            font-size: 1rem;
        }
        .header-v4 .wrap-icon-header .dropdown-user .u-text p {
            font-size: 0.85rem;
            margin-bottom: 5px;
        }
    </style>
</head>
<body class="animsition">
<!-- Header -->
<header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="~/#" class="logo">
                    <img src="/images/icons/logo.JPG" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="#">TRANG CHỦ</a>
                        </li>

                        <li>
                            <a href="#">GIỚI THIỆU</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a href="/product">SẢN PHẨM</a>
                        </li>

                        <li>
                            <a href="#">LIÊN HỆ</a>
                        </li>
                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 dropdown">
                        <a href="#" class="dis-block" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @* data-toggle="dropdown" cho Bootstrap 4. Nếu là BS5 thì data-bs-toggle="dropdown" *@
                            <i class="zmdi zmdi-account-circle"></i>
                        </a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            var userEmail = await UserManager.GetEmailAsync(currentUser);
                            var userName = currentUser.UserName;

                            <ul class="dropdown-menu dropdown-menu-right dropdown-user animated fadeIn" aria-labelledby="dropdownUserMenu"> @* dropdown-menu-right để căn phải *@
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="@Url.Content("~/images/icons/profile-placeholder.jpg")"
                                                     alt="image profile"
                                                     class="avatar-img rounded"/>
                                            </div>
                                            <div class="u-text">
                                                <h4>@(currentUser.Name ?? userName)</h4> @* Hiển thị Name nếu có, ngược lại là UserName *@
                                                <p class="text-muted">@userEmail</p>
                                                <a asp-area="Identity" asp-page="/Account/Manage/Index"
                                                   class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My Profile</a>
                                        @* <a class="dropdown-item" href="#">My Orders</a> *@ @* Link đến trang đơn hàng của user *@
                                        @* <a class="dropdown-item" href="#">My Wishlist</a> *@
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        @* Form Logout *@
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                                            <button type="submit" class="dropdown-item" style="border:none; background:none; width:100%; text-align:left; padding: .25rem 1.5rem;">Logout</button>
                                        </form>
                                    </li>
                                </div>
                            </ul>
                        }
                        else
                        {
                            <ul class="dropdown-menu dropdown-menu-right dropdown-user animated fadeIn" aria-labelledby="dropdownUserMenu">
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="~/index.html"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                <i class="zmdi zmdi-search"></i>
            </div>

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
                <i class="zmdi zmdi-shopping-cart"></i>
            </div>

            @*<a href="~/#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
                <i class="zmdi zmdi-account-circle"></i>
            </a>*@

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 dropdown">
                <a href="#" class="dis-block" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @* data-toggle="dropdown" cho Bootstrap 4. Nếu là BS5 thì data-bs-toggle="dropdown" *@
                    <i class="zmdi zmdi-account-circle"></i>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = await UserManager.GetUserAsync(User);
                    var userEmail = await UserManager.GetEmailAsync(currentUser);
                    var userName = currentUser.UserName; 

                    <ul class="dropdown-menu dropdown-menu-right dropdown-user animated fadeIn" aria-labelledby="dropdownUserMenu"> @* dropdown-menu-right để căn phải *@
                        <div class="dropdown-user-scroll scrollbar-outer">
                            <li>
                                <div class="user-box">
                                    <div class="avatar-lg">
                                        <img src="@Url.Content("~/images/icons/profile-placeholder.jpg")" 
                                             alt="image profile"
                                             class="avatar-img rounded"/>
                                    </div>
                                    <div class="u-text">
                                        <h4>@(currentUser.Name ?? userName)</h4> @* Hiển thị Name nếu có, ngược lại là UserName *@
                                        <p class="text-muted">@userEmail</p>
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index"
                                           class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My Profile</a>
                                @* <a class="dropdown-item" href="#">My Orders</a> *@ @* Link đến trang đơn hàng của user *@
                                @* <a class="dropdown-item" href="#">My Wishlist</a> *@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account Setting</a>
                                <div class="dropdown-divider"></div>
                                @* Form Logout *@
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                                    <button type="submit" class="dropdown-item" style="border:none; background:none; width:100%; text-align:left; padding: .25rem 1.5rem;">Logout</button>
                                </form>
                            </li>
                        </div>
                    </ul>
                }
                else
                {
                    <ul class="dropdown-menu dropdown-menu-right dropdown-user animated fadeIn" aria-labelledby="dropdownUserMenu">
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    </ul>
                }
            </div>
            
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        @* <ul class="topbar-mobile"> *@
        @*     <li> *@
        @*         <div class="left-top-bar"> *@
        @*             Free shipping for standard order over $100 *@
        @*         </div> *@
        @*     </li> *@
        @* *@
        @*     <li> *@
        @*         <div class="right-top-bar flex-w h-full"> *@
        @*             <a href="~/#" class="flex-c-m p-lr-10 trans-04"> *@
        @*                 Help & FAQs *@
        @*             </a> *@
        @* *@
        @*             <a href="~/#" class="flex-c-m p-lr-10 trans-04"> *@
        @*                 My Account *@
        @*             </a> *@
        @* *@
        @*             <a href="~/#" class="flex-c-m p-lr-10 trans-04"> *@
        @*                 EN *@
        @*             </a> *@
        @* *@
        @*             <a href="~/#" class="flex-c-m p-lr-10 trans-04"> *@
        @*                 USD *@
        @*             </a> *@
        @*         </div> *@
        @*     </li> *@
        @* </ul> *@

        <ul class="main-menu-m">
            <li>
                <a href="~/index.html">Home</a>
                <span class="arrow-main-menu-m">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</span>
            </li>

            <li>
                <a href="~/product.html">Shop</a>
            </li>

            <li>
                <a href="~/cart" class="label1 rs1" data-label1="hot">Features</a>
            </li>

            <li>
                <a href="~/blog.html">Blog</a>
            </li>

            <li>
                <a href="~/about.html">About</a>
            </li>

            <li>
                <a href="~/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</header>

<!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <ul class="header-cart-wrapitem w-full">
                @*<li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="/images/item-cart-01.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="~/#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            White Shirt Pleat
                        </a>

                        <span class="header-cart-item-info">
								1 x $19.00
							</span>
                    </div>
                </li>

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="/images/item-cart-02.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="~/#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Converse All Star
                        </a>

                        <span class="header-cart-item-info">
								1 x $39.00
							</span>
                    </div>
                </li>

                <li class="header-cart-item flex-w flex-t m-b-12">
                    <div class="header-cart-item-img">
                        <img src="/images/item-cart-03.jpg" alt="IMG">
                    </div>

                    <div class="header-cart-item-txt p-t-8">
                        <a href="~/#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            Nixon Porter Leather
                        </a>

                        <span class="header-cart-item-info">
								1 x $17.00
							</span>
                    </div>
                </li>*@
            </ul>

            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Total: $75.00
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a asp-controller="Cart" asp-action="Index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>

                    <a asp-controller="Checkout" asp-action="Index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Check Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@RenderBody()

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-4 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>
                <ul>
                    <li class="p-b-10 cl7">
                        <i class="fa-solid fa-location-dot"></i> 
                        <span>  Ninh Kiều, Cần Thơ, Việt Nam</span>
                    </li>
                    
                    <li class="p-b-10 cl7">
                        <i class="fa-solid fa-envelope"></i>
                    </li>
                </ul>

                <div class="p-t-27">
                    <a href="~/#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="~/#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-50 text-center">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="~/#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>
<!--===============================================================================================-->
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.umd.min.js"
></script>
<!--===============================================================================================-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/vendor/slick/slick.min.js"></script>
<script src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="/vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
    $('.gallery-lb').each(function() { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled:true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/sweetalert/sweetalert.min.js"></script>
<script>
    $('.js-addwish-b2').on('click', function(e){
        e.preventDefault();
    });

    $('.js-addwish-b2').each(function(){
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function(){
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-b2');
            $(this).off('click');
        });
    });

    $('.js-addwish-detail').each(function(){
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

        $(this).on('click', function(){
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-detail');
            $(this).off('click');
        });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function(){
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        $(this).on('click', function(){
            swal(nameProduct, "is added to cart !", "success");
        });
    });

</script>
<!--===============================================================================================-->
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function(){
        $(this).css('position','relative');
        $(this).css('overflow','hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function(){
            ps.update();
        })
    });
</script>
<!--Cart===============================================================================================-->
<script>
    $(function() {
        "use strict";
        $('.js-show-cart').on('click',function(){
            $('.js-panel-cart').addClass('show-header-cart');
        });

        $('.js-hide-cart').on('click',function(){
            $('.js-panel-cart').removeClass('show-header-cart');
        });
        
        const $cartPanel = $('.js-panel-cart'); // Panel chính của giỏ hàng
        const $cartItemsContainer = $cartPanel.find('.header-cart-wrapitem'); 
        const $cartTotalElement = $cartPanel.find('.header-cart-total');  
        const $cartIconNotify = $('.icon-header-noti.js-show-cart');
        const $showCartButton = $('.js-show-cart');
        const $hideCartButton = $cartPanel.find('.js-hide-cart, .s-full'); 

        // --- HÀM TIỆN ÍCH ---
        @*// Hàm tạo URL API động (quan trọng nếu script này nằm trong file .js riêng)
        // Nếu script nằm trong file .cshtml, bạn có thể dùng @Url.Action trực tiếp.
        // Cách này cần bạn định nghĩa data-base-url trên một phần tử DOM, ví dụ thẻ body.
        // Ví dụ: <body data-base-url="@Url.Content("~")">
        // const baseUrl = $('body').data('base-url') || '';
        // function getApiUrl(action, controller, params) {
        //     let url = `${baseUrl}/api/${controller}/${action}`;
        //     if (params) {
        //         url += `/${params}`;
        //     }
        //     return url;
        // }*@
        // HOẶC DÙNG CÁCH ĐƠN GIẢN HƠN LÀ HARDCODE TƯƠNG ĐỐI NẾU KHÔNG CÓ VIRTUAL DIRECTORY
        function getApiUrl(action, controller, params) {
            let url = `/api/${controller}/${action}`; // Giả sử API controller là "CartApi"
            if (params) {
                url += `/${params}`;
            }
            return url;
        }

        const API_BASE_URL = "/api/CartApi";


        // --- HÀM CẬP NHẬT GIAO DIỆN PANEL GIỎ HÀNG ---
        function updateCartPanelUI(cartViewModel) {
            $cartItemsContainer.empty(); // Xóa các item cũ

            if (cartViewModel && cartViewModel.items && cartViewModel.items.length > 0) {
                cartViewModel.items.forEach(function(item) {
                    // Tạo URL hình ảnh - giả sử API trả về đường dẫn tương đối từ wwwroot
                    // Nếu API trả về URL đầy đủ thì không cần @Url.Content
                    let imageUrl = "/images/placeholder.png"; // Default placeholder
                    if (item.imageUrl) {
                        // Kiểm tra xem imageUrl đã là đường dẫn tuyệt đối hoặc bắt đầu bằng / chưa
                        if (item.imageUrl.startsWith("http") || item.imageUrl.startsWith("/")) {
                            imageUrl = item.imageUrl;
                        } else {
                            imageUrl = ($('body').data('base-url') || '') + '/' + item.imageUrl.replace(/^\//, '');
                        }
                    }

                    // Tạo link chi tiết sản phẩm - Cần điều chỉnh controller/action cho đúng
                    let productDetailUrl = ($('body').data('base-url') || '') + `/Products/Detail/${item.productId}`;


                    let itemHTML = `
                    <li class="header-cart-item flex-w flex-t m-b-12" data-product-id="${item.productId}">
                        <div class="header-cart-item-img" style="width:60px; height: 70px; overflow:hidden;">
                            <img src="${imageUrl}" alt="${item.productName}" style="width:100%; height:100%; object-fit:cover;">
                        </div>
                        <div class="header-cart-item-txt p-t-0" style="width: calc(100% - 85px); padding-left:10px; position:relative;">
                            <a href="${productDetailUrl}" class="header-cart-item-name m-b-5 hov-cl1 trans-04" title="${item.productName}" style="font-size: 0.9em; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                ${item.productName}
                            </a>
                            <span class="header-cart-item-info" style="font-size: 0.85em;">
                                ${item.quantity} x ${item.price.toLocaleString('vi-VN')} VND
                            </span>
                            <button class="btn-remove-from-cart-panel" data-product-id="${item.productId}" title="Remove item" 
                                    style="position:absolute; top:-2px; right:-5px; background:none; border:none; font-size:1.2em; color:#888; cursor:pointer; padding:0;">
                                × 
                            </button>
                        </div>
                    </li>`;
                    $cartItemsContainer.append(itemHTML);
                });
                $cartTotalElement.text('Total: ' + cartViewModel.totalPrice.toLocaleString('vi-VN') + ' VND');
                if (cartViewModel.totalItems > 0) {
                    $cartIconNotify.attr('data-notify', cartViewModel.totalItems).css('display', 'flex');
                } else {
                    $cartIconNotify.attr('data-notify', '0').hide();
                }
            } else {
                $cartItemsContainer.html('<li class="text-center p-all-20 stext-101 cl6">Your cart is currently empty.</li>');
                $cartTotalElement.text('Total: 0 VND');
                $cartIconNotify.attr('data-notify', '0').hide();
            }
        }

        // --- HÀM TẢI DỮ LIỆU VÀ CẬP NHẬT PANEL GIỎ HÀNG ---
        function refreshCartPanel() {
            $.ajax({
                url: `${API_BASE_URL}`, // Hoặc tên controller API của bạn
                type: 'GET',
                beforeSend: function() {
                    // Có thể thêm hiệu ứng loading cho panel nếu muốn
                    $cartItemsContainer.html('<li class="text-center p-all-20"><i class="fa fa-spinner fa-spin"></i> Loading...</li>');
                },
                success: function(response) {
                    updateCartPanelUI(response);
                },
                error: function(xhr) {
                    console.error("Error refreshing cart panel:", xhr.responseText);
                    $cartItemsContainer.html('<li class="text-center p-all-20 text-danger">Could not load cart.</li>');
                }
            });
        }

        // --- HÀM CHỈ CẬP NHẬT SỐ LƯỢNG TRÊN ICON HEADER ---
        function refreshCartSummaryIcon() {
            $.ajax({
                url: `${API_BASE_URL}/summary`,
                type: 'GET',
                success: function(response) {
                    if (response && response.totalItems !== undefined) {
                        if (response.totalItems > 0) {
                            $cartIconNotify.attr('data-notify', response.totalItems).css('display', 'flex');
                        } else {
                            $cartIconNotify.attr('data-notify', '0').hide();
                        }
                    }
                },
                error: function(xhr) { console.error("Error refreshing cart summary icon:", xhr.responseText); }
            });
        }

        // --- XỬ LÝ NÚT "ADD TO CART" ---
        // Dùng event delegation cho các nút được thêm động (ví dụ: sản phẩm trong Quick View, sản phẩm liên quan)
        // Class 'js-addcart-detail' từ template Coza Store
        // Class 'add-to-cart-btn' là một class bạn có thể thêm vào các nút "Add to Cart" khác
        $('body').on('click', '.js-addcart-detail, .add-to-cart-btn', function(e) {
            e.preventDefault();
            var $button = $(this);
            var productId = $button.data('product-id');
            var quantity = 1;

            // Tìm input số lượng gần nhất với nút được click
            var $quantityInput = $button.closest('.flex-w, .product-detail-cta, .block2-txt-child1').find('.num-product, #detailProductQuantity, #modalProductQuantity');
            if ($quantityInput.length) {
                quantity = parseInt($quantityInput.val());
                if (isNaN(quantity) || quantity < 1) {
                    quantity = 1;
                }
            }

            var productName = "Product"; // Default
            var $nameElement = $button.closest('.block2-txt, .p-r-50, .product-item').find('.js-name-b2, .js-name-detail, #modalProductName, .product-name-class'); // Thêm .product-name-class nếu cần
            if ($nameElement.length) productName = $nameElement.first().text().trim();


            if (!productId) {
                console.error("Product ID is missing. Button:", $button[0]);
                swal("Action Failed", "Could not identify the product.", "error");
                return;
            }

            // Thêm hiệu ứng loading (ví dụ)
            var originalButtonText = $button.html();
            $button.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Adding...');

            $.ajax({
                url: `${API_BASE_URL}/add`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ productId: productId, quantity: quantity }),
                success: function(response) {
                    swal(productName, response.message || "has been added to your cart!", "success");
                    refreshCartPanel(); // Cập nhật lại toàn bộ panel
                    // Hoặc chỉ cập nhật icon nếu API AddToCart trả về totalItems
                    // if (response.totalItems !== undefined) {
                    //    $cartIconNotify.attr('data-notify', response.totalItems).css('display', 'flex');
                    // }
                },
                error: function(jqXHR) {
                    var errorMsg = "Could not add product to cart. Please try again.";
                    if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
                        errorMsg = jqXHR.responseJSON.message;
                    }
                    swal("Add to Cart Failed", errorMsg, "error");
                    console.error("Add to cart error:", jqXHR.responseText);
                },
                complete: function() {
                    $button.prop('disabled', false).html(originalButtonText); // Khôi phục nút
                }
            });
        });

        // --- XỬ LÝ NÚT XÓA ITEM TRONG PANEL CART ---
        // Sử dụng class 'btn-remove-from-cart-panel' đã thêm vào itemHTML
        $cartPanel.on('click', '.btn-remove-from-cart-panel', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var productId = $(this).data('product-id');

            if (productId) {
                // Không cần confirm ở đây nữa nếu muốn xóa ngay
                // swal({
                //     title: "Are you sure?",
                //     text: "Remove this item from your cart?",
                //     icon: "warning",
                //     buttons: true,
                //     dangerMode: true,
                // }).then((willDelete) => {
                //    if (willDelete) {
                $.ajax({
                    url: `${API_BASE_URL}/remove/${productId}`,
                    type: 'POST', // Hoặc 'DELETE'
                    success: function(response) {
                        updateCartPanelUI(response);
                        // swal("Removed!", "Item has been removed.", "success");
                    },
                    error: function() { swal("Error!", "Could not remove item.", "error"); }
                });
                //    }
                // });
            }
        });

        // --- SỰ KIỆN KHI PANEL CART ĐƯỢC HIỂN THỊ (từ template) ---
        $showCartButton.on('click', function() {
            refreshCartPanel();
            // Template (main.js của Coza) sẽ tự mở panel
        });

        // --- XỬ LÝ CÁC LINK ĐIỀU HƯỚNG TRONG PANEL CART ---
        // Ví dụ, nút "View Cart" và "Check Out" trong panel
        // Bạn có thể để chúng là link HTML bình thường, hoặc xử lý bằng JS nếu cần logic phức tạp
        // $cartPanel.find('a[href="/cart"]').on('click', function(e) { ... });
        // $cartPanel.find('a[href="/checkout"]').on('click', function(e) { ... });


        // --- TẢI THÔNG TIN TÓM TẮT GIỎ HÀNG KHI TRANG LOAD XONG ĐỂ CẬP NHẬT ICON ---
        refreshCartSummaryIcon();

    });
</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>